$bgcolor1: #f7f8fd;
$bgcolor2: #fff;
$accent: #7653f3;
$remBtn: #ecedf8;
$offBlack: #1b1f3b;
$togDefault: #cacee9;
$togActive: $accent;


@font-face {
  font-family: 'Muli';
  src: url('/font/Muli.eot');
  src: url('/font/Muli.eot') format('embedded-opentype'),
  url('/font/Muli.woff2') format('woff2'),
  url('/font/Muli.woff') format('woff'),
  url('/font/Muli.ttf') format('truetype'),
  url('/font/Muli.svg#Muli') format('svg');
  font-style: normal;
}

@font-face {
  font-family: 'MuliExtraBold';
  src: url('/font/MuliExtraBold.eot');
  src: url('/font/MuliExtraBold.eot') format('embedded-opentype'),
  url('/font/MuliExtraBold.woff2') format('woff2'),
  url('/font/MuliExtraBold.woff') format('woff'),
  url('/font/MuliExtraBold.ttf') format('truetype'),
  url('/font/MuliExtraBold.svg#MuliExtraBold') format('svg');
}

@font-face {
  font-family: 'MuliBlack';
  src: url('/font/MuliBlack.eot');
  src: url('/font/MuliBlack.eot') format('embedded-opentype'),
  url('/font/MuliBlack.woff2') format('woff2'),
  url('/font/MuliBlack.woff') format('woff'),
  url('/font/MuliBlack.ttf') format('truetype'),
  url('/font/MuliBlack.svg#MuliBlack') format('svg');
}

@font-face {
  font-family: 'MuliSemiBold';
  src: url('/font/MuliSemiBold.eot');
  src: url('/font/MuliSemiBold.eot') format('embedded-opentype'),
  url('/font/MuliSemiBold.woff2') format('woff2'),
  url('/font/MuliSemiBold.woff') format('woff'),
  url('/font/MuliSemiBold.ttf') format('truetype'),
  url('/font/MuliSemiBold.svg#MuliSemiBold') format('svg');
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family:'Muli','MuliSemiBold','MuliExtraBold','MuliBlack', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea {
  outline: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

button,
input[type="submit"] {
  outline: none;
  border: none;

}

li,
a {
  text-decoration: none;
  font-family: "Muli", sans-serif;
  font-weight: 900;
  font-size: 0.75rem;
  color: $accent;
}

.loginArea {
  background-color: $bgcolor1;
  height: 100vh;
  width: 29rem;

  form {
    margin: 0 auto;
    width: 22.75rem;
  }

  h4 {
    font-size: 1.5rem;
    font-family: "MuliBlack";
    line-height: 1.17;
    letter-spacing: normal;
    color: $accent;
    text-transform: uppercase;
    padding-top: 6.875rem;
  }

  h5 {
    font-size: 0.75rem;
    font-family: "MuliSemiBold";
    padding-bottom: 3.875rem;
  }

  label {
    font-size: 0.875rem;
    letter-spacing: 0.0125rem;
    height: 2.75rem;
    line-height: 2.75rem;
    color: $offBlack;
  }

  .form-control {
    width: 22rem;
    height: 2.75rem;
    border-radius: 0.375rem;
  }

  .form-control:focus {
    border:0.125rem solid $accent;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }

  .btn {
    width: 22rem;
    height: 2.75rem;
    background-color: #7653f3;
    border: 0px solid black;
    border-radius: 1.75rem;
    box-shadow: 0px 26px 120px 0px $accent;
    font-family: 'MuliExtraBold';
    margin-top: 5rem;
  }

  .btn:disabled {
    background-color: $bgcolor1;
    border: 3px solid $accent;
    color: $accent;
  }

  p {
   letter-spacing: 0.01875rem;
    line-height: 3rem;
    color: $offBlack;
    font-size: 0.875rem;
  }
  .switch {
    position: relative;
    display: block;
    width: 25rem;
    border: 0.125rem solid $remBtn;
    border-radius: 0.625rem;
    padding: 0.9375rem;
    margin-bottom: 30px;
    margin-top: 14rem;
    margin-left: auto;
    margin-right: auto;
    height: 5.0625rem;
    z-index: 999;

    input {
      display: none;
    }
  }

  .slider {
    position: absolute;
    right: 20px;
    bottom: 31%;
    cursor: pointer;
    background:$togDefault;
    transition: .5s;
    border: 3px solid $togDefault;
    box-shadow: 1px 1px 1px rgba(0,0,0, 0.1);
    height: 24px;
    width: 49px;
  }

  .slider::before{
    position: absolute;
    content: "";
    bottom: 14px;
    top: 0px;
    background-color: $bgcolor2;
    transition: .5s;
  }

  input:checked + .slider{
    background-color: $togActive;
    border-color: $togActive;
  }

  .slider.round{
    border-radius: 35px;
  }

  .slider.round::before{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transform: rotateZ(-45deg);
  }

  input:checked + .slider:before {
    transform: translateX(25px) rotateZ(45deg);
    background: $bgcolor2;
  }
}

.dot-typing {
  position: absolute;
  left: -9732px;
  margin-top: 11px;
  margin-left: 22px;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  -webkit-animation: dot-typing 1.5s infinite linear;
  animation: dot-typing 1.5s infinite linear;
}

@-webkit-keyframes dot-typing {
  0% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  }
  16.667% {
    box-shadow: 9984px -10px 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  }
  33.333% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  }
  50% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px -10px 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  }
  66.667% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  }
  83.333% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px -10px 0 0 #9880ff;
  }
  100% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  }
}

@keyframes dot-typing {
  0% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  }
  16.667% {
    box-shadow: 9984px -10px 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  }
  33.333% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  }
  50% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px -10px 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  }
  66.667% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  }
  83.333% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px -10px 0 0 #9880ff;
  }
  100% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  }
}

.vector {
}

.vector img{
  margin: 0 auto;
  display: block;
}